
/* style profile */
table {
	font-size: 13px;
	table-layout: fixed;
}

th,
td {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 300;
}

th {
	color: #3b3b3b;
	font-weight: 400 !important;
}

td {
	color: #4b4b4b;
  opacity: 0.8;
}

td a,
.btn {
	font-size: 13px;
	opacity: 0.8;
}

.line hr {
    margin-left: 80px; margin-right: 80px
}

.atribute {
    color: #3d4852;
}

.atribute h6 {
  font-size: 15px !important;
  opacity: 0.9;
}

.atribute p{
    font-size: 14px !important;
    opacity: 0.8;
    margin-top: 10px;
}

/* css edit profile */
.edit h6{
    font-size: 15px !important;
    color: #3d4852;
    opacity: 0.9;
}

.edit hr {
    margin-top: -2px;
    width: 80px;
}


/* button upload */
.edit .file-dipilih {
    font-size: 14px;
    color: #3d4852;
    opacity: 0.8;
}

.edit .max-file {
    font-size: 13px;
    color: #d14141;
    opacity: 0.8;
}

label{
    font-size: 14px !important;
    opacity: 0.8;
}

input {
    font-size: 13px !important;
    opacity: 0.8;
}

input:read-only {
    font-size: 13px !important;
    color :#859797;
}

.edit label {
    background-color: #2989A8;
    color: white;
    padding: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 14px;
}

#file-chosen{
margin-left: 0.3rem;
}

.form-validation {
  font-size: 13px;
}


/* css edit profile end */

/* css edit password */
.edit-password hr {
    margin-top: -2px;
    width: 110px;
}

.edit-password h6{
    font-size: 15px !important;
    color: #3d4852;
    font-weight: 200;
    opacity: 0.9;
}

.form-group i {
    margin-left: -43px;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
    color: #3d4852;
    opacity: 0.8;

}

/* css edit password end */

/* style materi */
.nav-pills .nav-item a{
    font-size: 14px;
    border-bottom: 2px solid #dff2ff;
    top: 70;
    position: relative;
    z-index: 1;
    display: inline-block;;
}

.nav-pills .nav-item a {
  padding: 14px 35px;
  color: #4b4b4b;
}

.nav-pills .nav-item a[aria-selected="true"]{
    background-color: #ffffff;
    color: #2989A8;
    border-bottom: 2px solid #2989A8;
    border-start-start-radius: 0px;
    display: inline-block;
    border-radius: 0;
  }

  .section__height a {
    text-decoration: none;
}
    
  /* materi pdf */
    .card-pdf {
      width: 150px;
      height: 220px;
      border: solid 1px !important;
      border-color: rgb(217, 231, 235) !important;
    }
    
    .card-pdf:hover {
      background-color: #f3fcff;
    }
    
    .card-pdf h6 {
      color: #6b6b6b;
      font-weight: 300;
      line-height: 25px;
      font-size: 13px;
      opacity: 0.7;
    }
    
    .card-pdf img {
      width: 40px;
      margin-top: 10px;
    }

    /* video */
    .card-video {
        width: 250px;
        height: 250px;
        border: solid 1px !important;
        border-color: rgb(217, 231, 235) !important;
      }
      
      .card-video:hover {
        background-color: #f3fcff;
      }
      
      .card-video h6 {
        color: #6b6b6b;
        font-weight: 300;
        line-height: 25px;
        font-size: 13px;
        opacity: 0.7;
      }
      
      .card-video iframe {
        width: 220px;
        height: 120px;
        margin-top: 10px;
      }

    footer {
        text-align: center;
        position: relative;
        bottom: 0;
        width: 100%;
    }

    @media screen and (max-width: 767px) {
        .card-pdf {
            width: 120px;
             height: 200px;
        }
        .card-pdf h6 {
            font-size: 12px;
        }
        .card-pdf img {
            width: 20px;
        }

        footer {
            opacity: 0;
        }
    }

    @media screen and (max-width: 320px) {
        .card-pdf {
            width: 120px;
             height: 200px;
        }
        .card-pdf h6 {
            font-size: 12px;
        }
        .card-pdf img {
            width: 20px;
        }

        footer {
            opacity: 0;
        }
    }

    @media screen and (min-width: 767px) {

    }

    @media screen and (min-width: 1024px) {

    }

    /* style tugas */
    .btn-edit {
      background: #01E2A5;
      border: none;
      color: #fff;
      padding: 5px 25px;
      border-radius: 5px;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      opacity: 0.8;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
      margin-bottom: 20px;
      margin-top: 10px;
    }
    
    .btn-edit:hover {
      opacity: 1
    }
    
    .btn-hapus{
      background: #ff0000;
      border: none;
      color: #fff;
      padding: 5px 24px;
      border-radius: 5px;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      opacity: 0.8;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
      margin-bottom: 20px;
      margin-top: 10px;
    
    }
    
    .btn-hapus:hover {
      opacity: 1
    }
    
    .job-item {
      background-color: #fff;
    }
    
    
    .job-tab .nav-tabs {
      margin-bottom: 20px;
      border-bottom: 0;
    }
    
    .job-tab .nav-tabs>li {
      float: none;
      display: inline;
    }
    
    .job-tab .nav-tabs li {
      margin-right: 15px;
    
    }
    
    .job-tab .nav-tabs li:last-child {
      margin-right: 0;
    }
    
    .job-tab .nav-tabs {
      position: relative;
      z-index: 1;
      display: inline-block;
    }
    
    .job-tab .nav-tabs:after {
      position: absolute;
      content: "";
      top: 57%;
      left: 0;
      width: 100%;
      height: 1px;
      z-index: -1;
      border-bottom: 2px solid #dff2ff;
    }
    
    
    
    .job-tab .nav-tabs>li a {
      display: inline-block;
      background-color: #ffffff;
      border: none;
      font-size: 14px;
      color: gray;
      padding: 10px 35px;
      color: #4b4b4b;
    }
    
    .job-tab .nav-tabs>li>a.active, 
    .job-tab .nav-tabs>li a.active>:focus, 
    .job-tab .nav-tabs>li>a.active:hover,
    .job-tab .nav-tabs>li>a:hover {
      border: none;
      color: #2989A8;
      border-bottom: 2px solid #2989A8;
      border-start-start-radius: 0px;
      display: inline-block;
      text-decoration: none;
    
    }
    
    .job-item {
      border-radius: 3px;
      position: relative;
      margin-bottom: 30px;
      z-index: 1;
    }
    
    .job-item .btn.btn-primary {
      text-transform: capitalize;
    }
    
    .job-item .job-info {
      font-size: 14px;
      color: #000;
      overflow: hidden;
      padding: 40px 25px 20px;
    }
    
    .job-info .company-logo {
      margin-bottom: 30px;
    }
    
    .job-info .tr-title {
      margin-bottom: 15px;
    }
    
    .job-info .tr-title span {
      font-size: 14px;
      display: block;
    }
    
    .job-info .tr-title a {
      color: #000;
    }
    
    .job-info .tr-title a:hover {
      color: #008def;
    }
    
    .job-info ul {
      margin-bottom: 30px;
    }
    
    .job-meta li,
    .job-meta li a {
      color: #646464;	
    }
    
    .job-meta li a:hover {
      color: #008def;
    }
    
    .job-meta li {
      font-size: 12px;
      margin-bottom: 10px;
    }
    
    .job-meta li span i {
      color: #000;
    }
    
    .job-meta li i {
      margin-right: 15px;
    }
    
    .job-item .time {
      position: relative;
    }
    
    .job-item .time:after {
      position: absolute;
      content: "";
      bottom: 35px;
      left: -50px;
      width: 150%;
      height: 1px;
      background-color: #f5f4f5;
      z-index: -1;
    }
    
    .job-item:hover .time,
    .job-item:hover .time:after {
      opacity: 0;
    }
    
    .job-item .time span {
      font-size: 12px;
      color: #bebebe;
      line-height: 25px;
    }
    
    .job-item .btn.btn-primary,
    .role .btn.btn-primary,
    .job-item .time a span {
      padding: 5px 10px;
      border-radius: 4px;
      line-height: 10px;
      font-size: 12px;
    }
    
    .job-item .time a span {
      color: #fff;
      background-color: #f1592a;
      border-color: #f1592a;	
    }
    
    .job-item .time a span.part-time {
      background-color: #00aeef;
      border-color: #00aeef;
    }
    
    .job-item .time a span.freelance {
      background-color: #92278f;
      border-color: #92278f;	
    }
    
    .job-item .item-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background-color: #008def;
      color: #fff;
      opacity: 0;
      -webkit-transition: all 800ms;
      -moz-transition: all 800ms;
      -ms-transition: all 800ms;
      -o-transition: all 800ms;
      transition: all 800ms;
    }
    
    .job-item:hover .item-overlay {
      opacity: 1;
    }
    
    .item-overlay .job-info {
      padding: 45px 25px 40px;
      overflow: hidden;
    }
    
    .item-overlay .btn.btn-primary {
      background-color: #2989A8;
      border-color: #2989A8;
      margin-bottom: 10px;
    }
    
    .item-overlay .job-info,
    .item-overlay .job-info ul li,
    .item-overlay .job-info ul li i,
    .item-overlay .job-info .tr-title a {
      color: #fff;
    }
    
    .job-social {
      margin-top: 35px;
    }
    
    .job-social li {
      float: left;
    }
    
    .job-social li + li {
      margin-left: 15px;
    }
    
    .job-social li a i {
      margin-right: 0;
      font-size: 14px;
    }
    
    .job-social li a {
      width: 35px;
      height: 35px;
      text-align: center;
      display: block;
      background-color: #007bd4;
      line-height: 35px;
      border-radius: 100%;
      border: 1px solid #007bd4;
      position: relative;
      overflow: hidden;
      z-index: 1;
    }
    
    .job-social li:last-child a {
      background-color: #fff;
    }
    
    .job-social li:last-child a i {
      color: #008def;
    }
    
    .job-social li a:before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      border-radius: 100%;
      background-color:#008def;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);	
    }
    
    .job-social li a:hover:before {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      padding: 5px;
    }
    
    .job-social li a:hover {
      border-color: #fff;
    }
    
    .job-social li a:hover i {
      color: #fff;
    }
    
    .tr-list {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    
    
    @media (max-width: 992px) {
    
      .main-body {
          padding: 10px;
          margin-top: 15px;
      }
    
      .navv {
          margin-left: 20%;
      }
      
      .navv img {
          width: 70px;
          margin: -10px;
      }
    
      .job-tab .nav-tabs {
        margin-bottom: 60px;
        margin-top: -20px;
        width: 60%;
      }
    
      footer {
        font-size: 0px;
      }
    
      .accordion .card-body {
        padding-left: 10px;
        padding-right: 10px;
      }
    
      .accordion .card-body .btn {
        font-size: 12px;
      }
    
      .img-icon {
        width: 0px;
      }
    
    }
    
    @media (max-width: 768px) {
    
    
      .main-body {
          padding: 10px;
          margin-top: 15px;
      }
    
      .navv {
          margin-left: 20%;
      }
      
      .navv img {
          width: 70px;
          margin: -10px;
      }
    
      .job-tab .nav-tabs {
        margin-bottom: 45px;
        margin-top: -20px;
        width: 60%;
      }
    
      footer {
        font-size: 0px;
      }
    
      .accordion .card-body {
        padding-left: 10px;
        padding-right: 10px;
      }
    
      .accordion .card-body .btn {
        font-size: 12px;
      }
    
      .img-icon {
        width: 0px;
      }
    
      
    }
    
    @media (max-width: 576px) {
    
    
      .main-body {
          padding: 10px;
          margin-top: 15px;
      }
    
      .navv {
          margin-left: 20%;
      }
      
      .navv img {
          width: 70px;
          margin: -10px;
          margin-bottom: 5px;
      }
    
      .job-tab .nav-tabs {
        margin-bottom: 45px;
        margin-top: -20px;
        width: 60%;
      }
    
      footer {
        font-size: 0px;
      }
    
      .accordion .card-body {
        padding-left: 10px;
        padding-right: 10px;
      }
    
      .accordion .card-body .btn {
        font-size: 13px;
      }
    
      .img-icon {
        width: 0px;
      }
    
    
    }
    
    /* Style Menu End */
    
    /* Style Konten  */
    
    body{
      color: #1a202c;
      text-align: left; 
    }
    
    .main-body {
      padding: 25px;
      margin-top: 25px;
    }
    
    .main-breadcrumb .breadcrumb .item-link {
      color: rgba(58, 54, 54, 0.85);
    }
    
    
    .card {
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }
    
    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 0 solid rgba(0,0,0,.125);
      border-radius: .35rem;
     
    }
    
    .card-body {
      flex: 1 1 auto;
      min-height: 1px;
      background-color: #ffffff;
    }
    
    
    .gutters-sm {
      margin-right: -8px;
      margin-left: -8px;
    }
    
    .gutters-sm>.col, .gutters-sm>[class*=col-] {
      padding-right: 8px;
      padding-left: 8px;
    }
    .mb-3, .my-3 {
      margin-bottom: 1rem!important;
    }
    
    .bg-gray-300 {
      background-color: #e2e8f0;
    }
    .h-100 {
      height: 100%!important;
    }
    .shadow-none {
      box-shadow: none!important;
    }
    
    #title {
      border-radius: 20px 20px 0px 0px;
      background-image: linear-gradient(to right, rgba(0, 234, 154, 1), rgba(0, 214, 181, 1),rgba(0, 169, 241, 1));
    }
    
    #title h4{
      color: white;
      font-weight: 600;
      margin: 10px;
    }
    
    #title h5 {
      color: white;
    }
    
    #title2 h3{
      margin-top: -10px;
      color: black;
    }
    
    #ket {
      font-size: 15px;
      line-height: 1.5;
      color: #fff;
      
      width: 300px;
      height: 38px;
      border-radius: 5px;
      background: #E15E5E;
    
    }
    
    
    
    
    
    footer {
      margin-top: 20px;
      color: rgba(63, 61, 86, 1)
    }
    
    
    @media (max-width: 992px) {
    
      .main-body {
          padding: 10px;
          margin-top: 15px;
      }
    
      .navv {
          margin-left: 20%;
      }
      
      .navv img {
          width: 70px;
          margin: -10px;
      }
    
      .job-tab .nav-tabs>li>a {
        font-size: 12px;
        padding: 3px 8px;
        width: 40%;
        margin-bottom: 200px;
        
      }
    
      .job-tab .nav-tabs:after {
        top: 50%;
      }
    
      .tab-content {
        margin-top: -40px;
      }
    
      .card-body img {
        width: 100px;
      }
    
      .accordion .card .card-header {
        padding-left: 0;
        padding-right: 0;
      }
      
    
      
    
    }
    
    @media (max-width: 768px) {
    
    
      .main-body {
          padding: 10px;
          margin-top: 15px;
      }
    
      .navv {
          margin-left: 20%;
      }
      
      .navv img {
          width: 70px;
          margin: -10px;
      }
    
      .job-tab .nav-tabs>li>a {
        font-size: 12px;
        padding: 3px 8px;
        width: 40%;
        margin-bottom: 200px;
        
      }
    
      .job-tab .nav-tabs:after {
        top: 50%;
      }
    
      .tab-content {
        margin-top: -40px;
      }
    
      .card-body img {
        width: 100px;
      }
    
      .accordion .card .card-header {
        padding-left: 0;
        padding-right: 0;
      }
    
      
      
    
      
    }
    
    @media (max-width: 576px) {
    
    
      .main-body {
          padding: 10px;
          margin-top: 15px;
      }
    
      .navv {
          margin-left: 20%;
      }
      
      .navv img {
          width: 70px;
          margin: -10px;
          margin-bottom: 5px;
      }
    
      .job-tab .nav-tabs>li>a {
        font-size: 12px;
        padding: 3px 8px;
        width: 40%;
        margin-bottom: 200px;
        
      }
    
      .job-tab .nav-tabs:after {
        top: 50%;
      }
    
      .tab-content {
        margin-top: -40px;
      }
    
      .card-body img {
        width: 100px;
      }
    
      .accordion .card .card-header {
        padding-left: 0;
        padding-right: 0;
      }
    
      
      
    
    
    }
    
    /* Style Konten End */
    
    /* Style According  */
    
    .accordion .card {
      border-radius: 0;
      border-width: 1px 0 1px 0;
    }
    .accordion .card:first-child {
      border-top: none;
    }
    .accordion .card .card-header {
      background: rgb(213, 230, 222);
      padding-top: 7px;
      padding-bottom: 7px;
      border-radius: 0;
    }
    
    .accordion .card .card-header[aria-expanded="true"]{
      background: rgb(157, 207, 199);
    }
    
    .accordion .card .card-header[aria-expanded="true"], .card h4, .card small, .card i{
      color: #5a5a5a;
    }
    
    .accordion .card-header:hover {
      background: rgb(85, 172, 160);
    }
    .accordion .card-header h2 span {
      float: left;
      margin-top: 10px;
    }
    .accordion .card-header .btn {
      width: 100%;
      text-align: left;
      position: relative;
      top: -2px;
    }
    .accordion .card-header i {
      float: right;
      position: relative;
      top: 5px;
    }
    .accordion .card-header button:hover {
      color: #2989A8;
    }
    .accordion .card-body {
      background: #ffffff;
      color: #595959;
    }
    .accordion .highlight {
      color: #fff;
      background: rgb(85, 172, 160)!important;
    }
    
    .icon-info {
      margin-left: 85%;
      padding: 30px;
      margin-top: -80px;
    }
    
    .card h4 {
      font-size: 15px;
      font-weight: 300;
      color: #333333;
    }
    
    .card h5 {
      font-size: 14px;
      color: #585858;
      line-height: 30px;
    }
    
    .card h6, a {
      font-size: 13px;
      font-weight: 300;
      color: #333333;
    }
    
    .card p {
      font-size: 12px;
      text-decoration: none;
    }
    
    .card small, i {
      color: #333333;
      opacity: 0.8;
      font-size: 13px;
    }
    
    .card a:hover {
      text-decoration: none;
    }
    
    .title-popover {
      font-size: 15px;
      color: #333333;
      opacity: 0.8;
    }
    
    /* style form */
    .title-form {
      font-size: 18px;
      color: #333333;
      opacity: 0.9;
    }
    .sub-title-form {
      font-size: 14px;
      color: #333333;
      opacity: 0.8;
    }

    .sub-title-form span {
      color: #000000;
    }
    
    label {
      font-size: 15px;
      color: #6b6b6b;
      opacity: 0.9;
    }
    
    .custom-select, .form-control {
      font-size: 13px;
      color: #6b6b6b;
      opacity: 0.8;
      border-color: #d5e7ec;
    }
    
    option {
      font-size: 13px;
      color: #6b6b6b;
      opacity: 0.4;
      border-color: #d5e7ec;
    }
    
    .input-group ::placeholder {
      font-size: 13px;
      color: #6b6b6b;
    }
    
    .input-group p {
      font-size: 12px !important;
      color: #e95d92;
      margin-top: -10px;
      margin-bottom: -20px;
      opacity: 0.9;
    }
    
    .input-group .form-check label {
      font-size: 13px;
      color: #6b6b6b;
      opacity: 0.9;
    
    }
    
    .ketentuan h6 {
      font-size: 15px;
      color: #333333;
      opacity: 0.9;
    }
    
    .ketentuan p {
      font-size: 14px;
      color: #333333;
      opacity: 0.8;
    }
    
    .ketentuan .app-name {
      font-weight: bold;
    }
    
    .ketentuan .panduan a {
      color: #2989A8;
      font-size: 14px;
      border-bottom: 1px solid #2989A8;
    }
    
    .ketentuan .panduan a:hover {
      text-decoration: none;
      color: #5375a1;
    }
    
    .btn-info {
      background-color: #2989A8;
      border-color: #2989A8;
    }
    
    .alert {
      font-size: 14px;
    }

    .table-title {
      font-size: 14px;
      font-weight: 400;
      color: #3b3b3b;
    }

    /* diskusi */
    .title {
      font-size: 18px;
      color: #333333;
  }
  .sub-title{
      font-size: 14px;
      color: #5b5b5b;
  }
  
  .subjek {
      font-size: 16px;
      color: #333333;
  }
  .pesan {
      font-size: 14px;
      color: #5b5b5b;
  }
  
  .comment:hover {
      background-color: rgb(237, 250, 255);
  }
  
  .card a {
      font-size: 14px;
      color: #4b4b4b;
  }
  
  .card a:hover {
      text-decoration: none;
      color: #2e5b6a;
  }
  
  .card button {
      background-color: #2989A8;
      color: #ffffff;
      font-size: 12px;
  }
  
  .border-custom-blue {
      border-color: #a8c9d5 !important;
  }
  
  .nama, .tanggal {
      color: #7b7b7b;
      font-size: 13px;
  }

  .nama-big {
    color: #7b7b7b;
    font-size: 14px;
  }

  .jml-komen {
    font-size: 15px;
    color: #333333;
  }

  .jml-komen span {
    font-size: 15px;
    color: #7b7b7b;
  }

  .nama-small {
    font-size: 14px;
    color: #4b4b4b;
  }

  .post-on {
    font-size: 11px;
    color: #7b7b7b;
  }

  .komen {
    font-size: 13px;
    color: #646464;
  }

  .balas{
    font-size: 13px;
    color: #2989A8;
  }

  .balas:hover {
    color: #467585;
  }

  html {
    scroll-behavior: smooth;
  }
  
  /* FLoating button add */
  .floating-container {
      position: fixed;
      width: 100px;
      height: 100px;
      bottom: 0;
      right: 0;
      margin: 75px 55px;
    }
    .floating-container:hover {
      height: 300px;
    }
    .floating-container:hover .floating-button {
      box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
      -webkit-transform: translatey(5px);
              transform: translatey(5px);
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    .floating-container:hover .element-container .float-element:nth-child(1) {
      -webkit-animation: come-in 0.4s forwards 0.2s;
              animation: come-in 0.4s forwards 0.2s;
    }
    .floating-container:hover .element-container .float-element:nth-child(2) {
      -webkit-animation: come-in 0.4s forwards 0.4s;
              animation: come-in 0.4s forwards 0.4s;
    }
    .floating-container:hover .element-container .float-element:nth-child(3) {
      -webkit-animation: come-in 0.4s forwards 0.6s;
              animation: come-in 0.4s forwards 0.6s;
    }
    .floating-container .floating-button {
      position: absolute;
      width: 50px;
      height: 50px;
      background: #2989A8;
      bottom: 0;
      border-radius: 50%;
      left: 0;
      right: 0;
      margin: auto;
      color: white;
      line-height: 50px;
      text-align: center;
      font-size: 23px;
      z-index: 100;
      box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
      cursor: pointer;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    
.btn-primary {
  background-color:#2989A8;
  }
  
  .btn-primary:hover {
      background-color: #296e85;
  }

  .btn-success {
    background-color:  rgb(36, 163, 29) !important;
    color: #ffffff;
    border: none;
  }
  
  .btn-success:hover {
    background-color:  rgb(39, 162, 70) !important;
    border: none;
  }
  
  .btn-secondary {
      background-color:#979797 !important;
      border-color: #9b9b9b;
  }
  
  .btn-secondary:hover {
      background-color: #6e6e6e !important;
      border-color: #9b9b9b;
  }

  /* style absen */
    .card-absen {
      width: 320px;
      height: fit-content;
      border: solid 1px !important;
      border-color: rgb(217, 231, 235) !important;
    }
    
    .card-absen h6 {
      color: #333333;
      font-weight: 400;
      font-size: 15px;
    }

    .card-absen p {
      color: #6b6b6b;
      font-weight: 300;
      font-size: 13px;
    }

    .border-teal-blue {
      border: 1px solid;
      border-color: #acceda;
    }

    .field {
      color: #3b3b3b;
      font-weight: 400;
      font-size: 13px;
    }

    .value {
      color: #6b6b6b;
      font-weight: 400;
      font-size: 13px;
    }

    .form-info {
      font-size: 12px;
      color: #cc5d75;
    }

    .card-reporting {
      background-color: #2989A8;
      width: fit-content;
      height: fit-content;
    }

    .card-reporting:hover {
      background-color: #82aaba;
    }

    .ket-absen h6 {
      font-size: 14px;
      color: #6b6b6b;
    }

    .ket-absen p {
      font-size: 13px;
      color: #6b6b6b;
      margin-bottom: 5px;
    }

    .icon-reporting {
      margin-top: 2px;
    }

    /* style info */
    .color-cyan {
      color: #2989A8;
    }

    .tanggal {
      color: #7b7b7b;
      font-size: 13px;
    }

    .judul {
      color: #6b6b6b;
      font-size: 15px;
    }

    .button-action a:hover {
      color: #ffffff !important;
    }

    .info hr {
      margin-left: -60px;
      margin-right: -15px;
    }

   /* Style konsultasi */
   .atribute h6 {
     color: #333333;
     font-size: 14px;
   }

   .atribute p {
    color: #4b4b4b;
    font-size: 13px;
  }
  
    @media screen and (max-width: 320px) {
      .nama, .tanggal {
          font-size: 10px;
      }
      .floating-container {
          margin: 95px 15px;
      }
  
      .floating-container .floating-button {
          width: 40px;
          height: 40px;
          line-height: 43px;
          font-size: 20px;
      }

      .judul {
        font-size: 13px;
      }

      .tanggal {
        font-size: 10px;
      }
    }
  
    @media screen and (max-width: 767px) {
      .nama, .tanggal {
          font-size: 10px;
      }
      .floating-container {
          margin: 95px 15px;
      }
  
      .floating-container .floating-button {
          width: 40px;
          height: 40px;
          line-height: 43px;
          font-size: 20px;
      }

      .judul {
        font-size: 12px;
      }

      .tanggal {
        font-size: 10px;
      }
    }

    
