.search-click {
    border: 1px solid #ccc;
    outline: none;
    background-size: 10px;
    background-position: 13px;
    border-radius: 10px;
    width: 35px;
    padding: 9px;
    transition: all 0.5s;
  }
  .search-click:focus {
    width: 300px;
    padding-left: 20px;
  }
  .search-click {
    position: relative;
    overflow: hidden;
    height: 35px;
  }
  .search-click input {
    background: transparent;
    border: 1px solid #ccc;
    outline: none;
    position: absolute;
    width: 300px;
    height: 10px;
    left: 0%;
    padding: 10px;
  }

  .search-box {
      margin-top: -60px;
      margin-bottom: 20px;
  }

.mapel .card img {
      width: 50px;
      height: 50px;
  }

.mapel .card p {
    font-size: 14px;
}

.mapel .card .ket-mapel {
    margin-top: -35px;
    
}

.mapel .card .ket-mapel p {
    font-size: 13px;
    margin-left: 10px;
    opacity: 0.9;
}

.mapel .card .ket-mapel img {
    width: 18px;
    height: 18px;
}

.mapel .card a:hover {
    text-decoration: none;
}


.mapel .card .absen .card {
    margin-top: 60px;
}

.bg-absen-open {
  background-color: #52c272;
}

.bg-absen-close {
  background-color: #c54242;
}

.mapel .card .absen .card img {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-right: 10px;
    margin-left: 10px;
}

.mapel .card .absen .card p{
    color: #f4f4f4;
    margin-bottom: 2px;
}

.mapel .card .absen .card.bg-absen-close:hover {
  background-color: #852d2d;
}

.mapel .card .absen .card.bg-absen-open:hover {
  background-color: #33864b;
}

.jadwal-pelajaran .row{
  padding-bottom: 20px;
}

.hari .card {
  background:linear-gradient(rgba(255, 255, 255, 1), rgb(231, 237, 238), rgb(169, 200, 211), rgba(41, 137, 168, 1))
}

.hari .card {
  border-style: solid;
  border-color: rgb(172, 210, 221);
}

.bg-blue {
  background-color: #2989A8;
}

.menu .card img {
  width: 15px;
  height: 15px;
}

.menu .card p {
  font-size: 12px;
  color: #2989A8;
}

.section-menu a {
  text-decoration: none;
}

.menu .card:hover {
  background-color: #8bbcce;
}

footer {
  font-size: 13px;
  padding-bottom: 10px;
  opacity: 0.8;
}

  @media screen and (max-width: 767px) {
    .search-box {
        margin-top: -40px;
    }
  }

  @media screen and (max-width: 320px) {
    .search-box {
        margin-top: -40px;
    }
  }

  @media screen and (min-width: 576px) {
    .search-box {
        margin-top: -40px;
    }
  }

  @media screen and (min-width: 767px) {
    .search-box {
        margin-top: -40px;
    }
  }