@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800");

body {
	background: linear-gradient(to left, rgba(227, 234, 245, 1), rgba(234, 239, 247, 1), rgba(255, 255, 255, 1));
	font-family: "Poppins", sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #121212;
}

.card {
	background-color: rgb(246, 250, 250);
	border-radius: 15px;
	box-shadow: 1px 2px 1px 2px #c4d1d4;
	border: none;
}

.form-group img {
	width: 25px;
	height: 25px;
}


.title {
	color: rgb(65, 24, 56);
	opacity: 0.7;
	line-height: 30px;
	font-weight: 400;
	font-size: 16px;
}

.form-group input {
	font-size: 14px;
	color: gray;
}

.form-group a {
	color: gray;
	font-size: 14px;
	text-decoration: none;
}

.form-group a:hover {
	color: rgb(65, 24, 56);
	opacity: 0.8;
}

.form-group i {
	margin-left: -23px; 
	cursor: pointer; 
	margin-top: 10px;
	color: gray;
}

.form-group select {
	font-size: 14px;
	color: gray;
}

.form-group p {
	font-size: 14px;
	color: gray;
}

.form-control {
	box-shadow: 1px 2px 2px 0px rgb(206, 217, 219);
	border: 1;
}

.border-gray {
	border-color: rgb(179, 179, 179);
}

.alert-white {
	background-color: #fff;
}

.alert-white span {
	color: rgb(85, 85, 85);
}

.alert {
	width: 370px;
}

.btn-masuk {
	background-color: #2989A8;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	border-radius: 5px;
}

.btn-masuk:hover {
	background-color: #27677c;
	color: white;
}

footer {
	margin-top: 25px;
	font-size: 14;
	color: rgb(90, 90, 90);
}


/* desktop */
@media only screen and (min-width:992px) {
	.form-content {
		padding: 50px;
	}

	.card {
		width: 50%;
	}

	.form-group .form-control {
		width: 370px;
	}


}


/* mobile mini screens */ 
@media only screen and (min-width:280px) and (max-width:319px){
	.form-group .form-control {
		width: 140px;
	}

	.logo img {
		width: 70%;
	}

	.form-content {
		padding: 20px;
	}

	.alert {
		width: 140px;
	}

	.title {
		line-height: 20px;
		font-size: 14px;
	}

	.form-group input {
		font-size: 12px;
	}

	.form-group a {
		font-size: 12px;
	}

	.form-group select {
		font-size: 12px;
	}

	.form-group p {
		font-size: 12px;
	}

	footer {
		font-size: 12px;
	}
}

/* mobile mini screens */
@media only screen and (min-width:220px) and (max-width:279px){
	.form-group .form-control {
		width: 100px;
	}

	.logo img {
		width: 70%;
	}

	.form-content {
		padding: 20px;
	}

	.alert {
		width: 100px;
	}

	.title {
		line-height: 20px;
		font-size: 14px;
	}

	.form-group input {
		font-size: 12px;
	}

	.form-group a {
		font-size: 12px;
	}

	.form-group select {
		font-size: 12px;
	}

	.form-group p {
		font-size: 12px;
	}

	footer {
		font-size: 12px;
	}
}

/* mobile */
@media only screen and (min-width:320px) and (max-width:480px) {
	.logo img {
		width: 70%;
	}

	.form-content {
		padding: 20px;
	}

	.form-group .form-control {
		width: 240px;
	}

	.alert {
		width: 240px;
	}

	.title {
		line-height: 20px;
		font-size: 14px;
	}

	.form-group input {
		font-size: 12px;
	}

	.form-group a {
		font-size: 12px;
	}

	.form-group select {
		font-size: 12px;
	}

	.form-group p {
		font-size: 12px;
	}

	footer {
		font-size: 12px;
	}
}

/* ipads / tablets */
@media only screen and (min-width:481px) and (max-width:768px) {

	.card {
		width: 80%;
	}

	.form-content {
		padding: 50px;
	}
	.form-group .form-control {
		width: 270px;
	}

	.alert {
		width: 270px;
	}

	.title {
		line-height: 20px;
		font-size: 14px;
	}
}

/* Desktop Small Screens*/
@media only screen and (min-width:769px) and (max-width:1024px) {
	.form-content {
		padding: 50px;
	}

	.title {
		line-height: 20px;
		font-size: 14px;
	}


	.card {
		width: 70%;
	}


	.form-group .form-control {
		width: 370px;
	}

	.alert {
		width: 370px;
	}
}

/* Desktop Large Screens*/
@media only screen and (min-width:1025px) and (max-width:1200px) {
	.form-content {
		padding: 50px;
	}


	.card {
		width: 60%;
	}


	.form-group .form-control {
		width: 370px;
	}

	.alert {
		width: 370px;
	}
}

