/* style dashboard */
.page-title {
    color: #3b3b3b;
}

.card-body .card-title {
    font-size: 14px;
    color: #3b3b3b;
    font-weight: 400;
    line-height: 25px;
}

.card-body .card-sub-title {
  font-size: 13px;
  color: #3b3b3b;
  font-weight: 400;
}

.card-body .card-sub-title span {
  font-weight: 300;
}

.card-body .total h2{
    color: #5b5b5b;
    font-weight: 400;
}

table img {
    width: 25px;
}

.search-icon {
    color: rgba(134, 113, 234, 0.97);
}

.search-icon:hover {
    color: rgba(61, 35, 190, 0.97);
}

.pdf-icon {
    color: rgba(51, 97, 156, 0.97);;
}

.btn-outline-danger, .btn-otline-success{
    background-color: #fff;
}

.btn-outline-danger:hover{
    background-color: rgb(252, 172, 0);
    border-color: #f17e51; /*set the color you want here*/
    opacity: 0.6;
}

.btn-outline-success:hover{
    background-color: rgb(149, 197, 216);
    border-color: #81b881; /*set the color you want here*/
    opacity: 0.6;
}

/* Floating button */

@-webkit-keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
@keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
}

.floating-container {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
}
.floating-container:hover {
  height: 300px;
}
.floating-container:hover .floating-button {
  box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
  -webkit-transform: translatey(5px);
          transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container:hover .element-container .float-element:nth-child(1) {
  -webkit-animation: come-in 0.4s forwards 0.2s;
          animation: come-in 0.4s forwards 0.2s;
}
.floating-container:hover .element-container .float-element:nth-child(2) {
  -webkit-animation: come-in 0.4s forwards 0.4s;
          animation: come-in 0.4s forwards 0.4s;
}
.floating-container:hover .element-container .float-element:nth-child(3) {
  -webkit-animation: come-in 0.4s forwards 0.6s;
          animation: come-in 0.4s forwards 0.6s;
}
.floating-container .floating-button {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #2989A8;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  line-height: 50px;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* style jadwal */
nav ol li a:hover{
  color: #6598a8 !important;
}

.page-title {
    color: #3b3b3b;
}
table {
	font-size: 13px;
	table-layout: fixed;
}

th,
td {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 300;
}

th {
	color: #3b3b3b;
	font-weight: 400 !important;
}

td {
	color: #4b4b4b;
}

td a,
.btn {
	font-size: 13px;
	opacity: 0.8;
}
  
  .line hr {
    margin-left: 80px; margin-right: 80px
  }
  
  .atribute h6 {
    color: #6b6b6b;
    opacity: 0.9;
    font-size: 15px;
  }
  
  .atribute p{
    font-size: 14px;
    opacity: 0.9;
    margin-top: 10px;
  }

  .atribute .info p {
    font-size: 13px;
    font-weight: 400;
  }

  .atribute .info span {
    font-size: 13px;
    font-weight: 300;
  }

  .btn-primary {
      background-color: #28748d !important;
      border-color: #28748d !important;
  }

  .btn-primary:hover {
    background-color: #1a4a5a !important;
}

.title-form h6 {
  font-size: 16px;
  color: #6b6b6b;
}

label {
  font-size: 15px;
  color: #6b6b6b;
  opacity: 0.9;
}

.custom-select, .form-control {
  font-size: 13px;
  color: #6b6b6b;
  opacity: 0.7;
  border-color: #d5e7ec;
}

.select2 {
  font-size: 13px;
  color: #6b6b6b;
  opacity: 0.4;
  border-color: #d5e7ec;
}


option {
  font-size: 13px;
  color: #6b6b6b;
  opacity: 0.4;
  border-color: #d5e7ec;
}

/* <select class="custom-select select2-hidden-accessible" id="kelas" data-select2-id="kelas" tabindex="-1" aria-hidden="true">
    <option selected="" data-select2-id="2">Pilih Kelas</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</select> */


.input-group ::placeholder {
  font-size: 13px;
  color: #6b6b6b;
}

.input-group p {
  font-size: 12px !important;
  color: #e95d92;
  margin-top: -10px;
  margin-bottom: -20px;
  opacity: 0.9;
}

.input-group .form-check label {
  font-size: 13px;
  color: #6b6b6b;
  opacity: 0.8;
}

.print .card {
  border: solid 1px;
  border-color: #bcdae2;
  width: 60px;
  height: 32px;
}

.color-pink {
  color: #bb3f6f;
  opacity: 0.8;
}

.color-cyan {
  color: #64bbca;
}

.title-pratinjau h6 {
  font-size: 13px;
  color: #6b6b6b;
  font-weight: 300;
}

/* card pratinjau jadwal */

.mapel .card img {
  width: 50px;
  height: 50px;
}

.mapel .card {
  padding-bottom: -49px;
}

.mapel .card p {
font-size: 14px;
color: #6b6b6b;
}

.card .ket-mapel p {
font-size: 13px;
margin-left: 10px;
opacity: 0.9;
font-weight: 400;
}

.card .ket-mapel img {
width: 18px;
height: 18px;
}

.mapel .card a:hover {
text-decoration: none;
}

.jadwal {
 margin-top: -20px;
 margin-bottom: -30px;
}

.content-card .card {
  border: solid 1px;
  border-color: rgb(222, 243, 248);
  padding: 12px;
}

.hari .card {
background:linear-gradient(rgb(255, 255, 255), rgb(231, 237, 238), rgb(169, 200, 211), rgba(41, 137, 168, 1));
border: solid 1px;
border-style: solid;
border-color: rgb(222, 243, 248)
}

.hari .card p {
  color: #5b5b5b;
  font-weight: 400;
}

.bg-blue {
background-color: #2989A8 !important;
}

.bg-blue:hover {
  color: #ffffff !important;
}

.border-blue {
  border-color: #2989A8 !important;
  color: #2989A8 !important;
}

.border-blue:hover {
  border-color: #ffffff!important;
  background-color: #2989A8 !important;
  color: #ffffff !important;
}

.bg-yellow:hover {
  color: #ffffff !important;
}

.border-yellow {
  border-color: #FFD233 !important;
  color: #FFD233 !important;
}

.border-yellow:hover {
  border-color: #ffffff!important;
  background-color: #FFD233 !important;
  color: #ffffff !important;
}

.menu .card img {
width: 15px;
height: 15px;
}

.menu .card p {
font-size: 12px;
color: #2989A8;
}

.section-menu a {
text-decoration: none;
}

.menu .card:hover {
background-color: #8bbcce;
}

.card-pdf {
  width: 150px;
  height: 250px;
  border: solid 1px;
  border-color: rgb(217, 231, 235);
  margin-top: 10px;
  margin-bottom: 0;
}

.card-pdf:hover {
  background-color: #f3fcff;
}

.card-pdf h6 {
  color: #6b6b6b;
  font-weight: 300;
  line-height: 25px;
  font-size: 13px;
}

.card-pdf img {
  width: 50px;
  margin-top: 10px;
}

.item-pdf {
  margin-top: -30px;
}

/* card pdf end */

.card-video {
  width: 230px;
  height: 280px;
  border: solid 1px;
  border-color: rgb(217, 231, 235);
  margin-top: 10px;
  margin-bottom: 0;
}

.card-video:hover {
  background-color: #f3fcff;
}

.card-video h6 {
  color: #6b6b6b;
  font-weight: 300;
  line-height: 25px;
  font-size: 13px;
}

.card-video iframe {
  width: 200px;
  margin-top: 10px;
}

.item-video {
  margin-top: -30px;
}

/* Floating button */

@-webkit-keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
@keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
}

.floating-container {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
}
.floating-container:hover {
  height: 300px;
}
.floating-container:hover .floating-button {
  box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
  -webkit-transform: translatey(5px);
          transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container:hover .element-container .float-element:nth-child(1) {
  -webkit-animation: come-in 0.4s forwards 0.2s;
          animation: come-in 0.4s forwards 0.2s;
}
.floating-container:hover .element-container .float-element:nth-child(2) {
  -webkit-animation: come-in 0.4s forwards 0.4s;
          animation: come-in 0.4s forwards 0.4s;
}
.floating-container:hover .element-container .float-element:nth-child(3) {
  -webkit-animation: come-in 0.4s forwards 0.6s;
          animation: come-in 0.4s forwards 0.6s;
}
.floating-container .floating-button {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #2989A8;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  line-height: 50px;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

  
