table {
    color: #3d4852;
    font-size: 14px;
}

table th{
    color: #3d4852;
    font-weight: 500;
}

table td{
    opacity: 0.6;
}

.line hr {
    margin-left: 80px; margin-right: 80px
}

.atribute {
    color: #3d4852;
}

.atribute p{
    font-size: 14px;
    opacity: 0.9;
    margin-top: 10px;
}

tr.bordered {
    border-bottom: 1px solid #000;
}
