table {
    color: #3d4852;
    font-size: 14px;
}

table th{
    color: #3d4852;
    font-weight: 500;
}

table td{
    opacity: 0.6;
}

.line hr {
    margin-left: 80px; margin-right: 80px
}

.atribute {
    color: #3d4852;
}

.atribute p{
    font-size: 14px;
    opacity: 0.9;
    margin-top: 10px;
}

/* css edit profile */
.edit h6{
    font-size: 16px;
    color: #3d4852;
    font-weight: 200;
}

.edit hr {
    margin-top: -2px;
    width: 80px;
}


/* button upload */
.edit .file-dipilih {
    font-size: 14px;
    color: #3d4852;
    opacity: 0.8;
}

.edit .max-file {
    font-size: 13px;
    color: #d14141;
    opacity: 0.8;
}

label{
    font-size: 14px;
    opacity: 0.8;
}

input {
    font-size: 14px;
    opacity: 0.8;
}

input:read-only {
    font-size: 14px;
    color :#859797;
}

.edit label {
    background-color: #2989A8;
    color: white;
    padding: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 14px;
}

#file-chosen{
margin-left: 0.3rem;
}

.btn-primary {
background-color:#2989A8;
}

.btn-primary:hover {
    background-color: #296e85;
}

.btn-secondary {
    background-color:#9b9b9b;
    border-color: #9b9b9b;
}

.btn-secondary:hover {
    background-color: #6e6e6e;
    border-color: #9b9b9b;
}
/* css edit profile end */

/* css edit password */
.edit-password hr {
    margin-top: -2px;
    width: 110px;
}

.edit-password h6{
    font-size: 16px;
    color: #3d4852;
    font-weight: 200;
}

.form-group i {
    margin-left: -30px;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
    color: #3d4852;
    opacity: 0.8;

}

/* css edit password end */

